{% load static %}
<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Lake to Bhavans Ground</title>
  <link rel="icon" type="image/png" href="{% static 'images/rideLogo.png' %}" />
  <script>
    L_NO_TOUCH = false;
    L_DISABLE_3D = false;
  </script>

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
  />
  <link
    rel="stylesheet"
    href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"
  />
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  </style>

  <meta
    name="viewport"
    content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <style>
    #map_50223c9e74304cd0850d38ad76918f81 {
      position: relative;
      width: 100%;
      height: 100%;
      left: 0%;
      top: 0%;
    }
  </style>
</head>
<body>
  <div class="folium-map" id="map_50223c9e74304cd0850d38ad76918f81"></div>
</body>
<script>
  var map_50223c9e74304cd0850d38ad76918f81 = L.map(
    "map_50223c9e74304cd0850d38ad76918f81",
    {
      center: [19.126235, 72.836204],
      crs: L.CRS.EPSG3857,
      zoom: 18,
      zoomControl: true,
      preferCanvas: false,
    }
  );

  var tile_layer_3277caa3c9c247c6a5677d0fd4bacb9d = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      attribution:
        'Data by \u0026copy; \u003ca href="http://openstreetmap.org"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href="http://www.openstreetmap.org/copyright"\u003eODbL\u003c/a\u003e.',
      detectRetina: false,
      maxNativeZoom: 18,
      maxZoom: 18,
      minZoom: 0,
      noWrap: false,
      opacity: 1,
      subdomains: "abc",
      tms: false,
    }
  ).addTo(map_50223c9e74304cd0850d38ad76918f81);

  var feature_group_af26348bbac24607b9c66c5e6d440865 = L.featureGroup({}).addTo(
    map_50223c9e74304cd0850d38ad76918f81
  );

  var marker_504ec4601b0c4131aab97e0f9ee2ca43 = L.marker(
    [19.124631, 72.834747],
    {}
  ).addTo(feature_group_af26348bbac24607b9c66c5e6d440865);

  var icon_918490dceaf34f4eb36b7bd458866970 = L.AwesomeMarkers.icon({
    extraClasses: "fa-rotate-0",
    icon: "info-sign",
    iconColor: "white",
    markerColor: "green",
    prefix: "glyphicon",
  });
  marker_504ec4601b0c4131aab97e0f9ee2ca43.setIcon(
    icon_918490dceaf34f4eb36b7bd458866970
  );

  var popup_b35a7e0cd1b549f992fa4f731ca88268 = L.popup({ maxWidth: "100%" });

  var html_0338ee19b1aa411b971752d03155ced1 = $(
    `<div id="html_0338ee19b1aa411b971752d03155ced1" style="width: 100.0%; height: 100.0%;">Bhavans Lake</div>`
  )[0];
  popup_b35a7e0cd1b549f992fa4f731ca88268.setContent(
    html_0338ee19b1aa411b971752d03155ced1
  );

  marker_504ec4601b0c4131aab97e0f9ee2ca43.bindPopup(
    popup_b35a7e0cd1b549f992fa4f731ca88268
  );

  var marker_084befaa595b47aabba2bb70b5cc0bfe = L.marker(
    [19.126235, 72.836204],
    {}
  ).addTo(feature_group_af26348bbac24607b9c66c5e6d440865);

  var icon_88a57eafcf374f36984ad78233a7a941 = L.AwesomeMarkers.icon({
    extraClasses: "fa-rotate-0",
    icon: "info-sign",
    iconColor: "white",
    markerColor: "green",
    prefix: "glyphicon",
  });
  marker_084befaa595b47aabba2bb70b5cc0bfe.setIcon(
    icon_88a57eafcf374f36984ad78233a7a941
  );

  var popup_45294d7e84e9419cb14f5456fdce5554 = L.popup({ maxWidth: "100%" });

  var html_e7e90ed842c14001a30a7880be64024e = $(
    `<div id="html_e7e90ed842c14001a30a7880be64024e" style="width: 100.0%; height: 100.0%;">Bhavans Ground</div>`
  )[0];
  popup_45294d7e84e9419cb14f5456fdce5554.setContent(
    html_e7e90ed842c14001a30a7880be64024e
  );

  marker_084befaa595b47aabba2bb70b5cc0bfe.bindPopup(
    popup_45294d7e84e9419cb14f5456fdce5554
  );
</script>
