{% extends 'base.html' %} {% block content %} {% load static %}

<!-- NAVBAR -->
<nav
  class="navbar navbar-expand-lg py-3"
  style="
    background-color: rgba(200, 200, 200, 0.2);
    color: black;
    font-weight: bold;
    border-bottom: solid 2px #1270af;
    box-shadow: 0px 0px 10px 1px rgba(51, 123, 206, 0.6);
  "
>
  <div class="container">
    <a
      class="navbar-brand animate__animated animate__swing text-center"
      href="/"
      style="font-size: 30px;"
      ><strong>Ubike</strong></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link text-secondary" style="font-style: italic;"
          >Hello, {{ user.username }}</a
        >
        <a class="nav-item nav-link" href="/">Home</a>

        <a class="nav-item nav-link" href="bookmyride">BookRide</a>
        <a class="nav-item nav-link" href="userDashboard">Dashboard</a>
        <a class="nav-item nav-link" href="contact">Contact</a>
        <a class="nav-item nav-link" href="logout">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="register">Register</a>
        <a class="nav-item nav-link" href="login">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<div class="container" style="margin: 4% auto 10%; width: 60%;">
  {% for message in messages %}
  <div class="container alert {{message.tags}}" id="msg" role="alert">
    {{message}}
  </div>
  {% endfor %}

  <div
    class="card animate__animated animate__fadeIn"
    style="box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);"
  >
    <h4 class="card-header text-center bg-dark text-white">
      <i class="fa fa-user"></i>&nbsp;MY DASHBOARD
    </h4>
    <div class="card-body p-5">
      <div class="row">
        {% if user.id %}
        <div class="col-md-6">
          <h4>Name :</h4>
          <hr />
          <h4>Username :</h4>
          <hr />
          <h4>Email :</h4>
          <hr />
          <h4>Registered On :</h4>
          <hr />
          <h4>Pickup Location :</h4>
          <hr />
          <h4>Drop Location :</h4>
          <hr />
          <h4>Ride Timings :</h4>
          <hr />
          <h4>Fare :</h4>
        </div>
        <div class="col-md-6">
          <h4>{{ user.first_name }} {{ user.last_name }}</h4>
          <hr />
          <h4>{{ user.username }}</h4>
          <hr />
          <h4>{{ user.email }}</h4>
          <hr />
          <h4>{{ user.date_joined }}</h4>
          <hr />

          {% for detail in details %} {% if user.id == detail.user_id %}
          <h4>{{ detail.pickup_location }}</h4>
          <hr />
          <h4>{{ detail.drop_location }}</h4>
          <hr />
          <h4>{{ detail.from_time }} - {{ detail.to_time }}</h4>
          <hr />
          <h4>Rs.{{ detail.fare }} /-</h4>
          {% else %}
          <h4></h4>
          <h4></h4>
          <h4></h4>
          <h4></h4>
          {% endif %} {% endfor %}
        </div>
        {% else %}
        <div class="container text-center">
          <h3 class="text-warning">
            !&nbsp; !&nbsp; !&nbsp; No Ride Booked &nbsp;:( &nbsp;:( &nbsp;:(
          </h3>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  //alerting messages
  setTimeout(function () {
    if ($("#msg").length > 0) {
      $("#msg").remove();
    }
  }, 3000);
</script>

{% endblock %}
